<ion-tabs color="primary" #mainTabs>
  <ion-tab [root]="newsPage" tabTitle="Library" tabIcon="book" (click)="changeUI()">Library</ion-tab>
  <ion-tab [root]="mapPage" tabTitle="Maps" tabIcon="map" (click)="changeUI()">Favorite</ion-tab>
  <ion-tab [root]="userPage" tabTitle="User" tabIcon="contact" (click)="changeUI()">Profile</ion-tab>
</ion-tabs>
