<ion-header>
    <ion-navbar>
      <ion-title>
        Ionic Blank
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
      <form #f='ngForm' (ngSubmit)='addProperty(f)'>
          <ion-item>
            <ion-label floating>Property Name</ion-label>
            <ion-input type="text" name='property_name' ngModel></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label floating>Description</ion-label>
            <ion-input type="text" name='description' ngModel></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label floating>Phone Number</ion-label>
            <ion-input type="text" name='phone_number' ngModel></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label floating>Address</ion-label>
            <ion-input type="text" name='address' ngModel></ion-input>
          </ion-item>
  
          <ion-list *ngIf="pictures">
              <ion-item *ngFor='let picture of pictures'>
                <img [src]="picture.img" alt="test"/>
              </ion-item>
            </ion-list>
          
            <button ion-button full (click)="camera_photo()">Camera</button>
            <button ion-button full (click)="gallery_photo()">Gallery</button>
            <button ion-button full type="submit">Add</button>
        </form>
    
    
  </ion-content>
  