<!--
  Generated template for the CreatePropertyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CreatePropertyPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #f='ngForm' (ngSubmit)='addProperty(f)'>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]="property.name" name='name'></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-input type="text" [(ngModel)]="property.description" name='description'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Address</ion-label>
            <ion-input type="text"  [(ngModel)]="property.address" name='address'></ion-input>
          </ion-item>
  
    
        <ion-item>
          <ion-label floating>Latitude</ion-label>
          <ion-input type="number" [(ngModel)]="property.loc_alt" name='email'></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>Langitude</ion-label>
          <ion-input type="number" [(ngModel)]="property.loc_lng" name='phone_number'></ion-input>
        </ion-item>
        <br>
        <button ion-button full (click)="choosePosition()">Choose Location</button>

        <button ion-button full type="submit">Register</button>
      </form>
</ion-content>
