<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content onload="chooseLongLat()">
    <div id="map" style="width:100%; height:100%;"></div>
</ion-content>
