<!--
  Generated template for the ViewVrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <a-scene>
    <a-assets>
      <img timeout="10000" crossorigin="anonymous" id="vr" [src]="getImage()" alt="test" />
    </a-assets>

    <a-sky src="#vr"></a-sky>
  </a-scene>
</ion-content>