<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons right>
      <button ion-button large>
        <ion-icon name="search" style="size:48px"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title item-left>Propertee</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">

  <ion-slides>
    <ion-slide *ngFor="let property of properties">
      <ion-card>
        <ion-item>
          <ion-avatar item-start center>
            <img style="margin:auto" src="assets/imgs/placeholder.jpg" alt="assets/imgs/placeholder.jpg">
            <p>Developer</p>
          </ion-avatar>
          <h2 center text-wrap>Launching Apartement {{property.property_name}}</h2>
          <p center>{{property.date}}</p>
          <p>{{property.address}}</p>
        </ion-item>

        <!-- <ion-slides>
          <ion-slide *ngFor="img of property.img"> -->
            <ion-item style="height: 100px;">
              <img src="{{property.img}}" alt="" style="height: 100px;">
            </ion-item>
          <!-- </ion-slide>
        </ion-slides> -->


        <ion-scroll scrollY="true" style="white-space: nowrap; height: 250px;">
          <ion-item text-wrap>
            <p>{{property.description}}</p>
          </ion-item>
        </ion-scroll>

        <div>
          <button ion-button color="primary" style="width:50px;float:right" (click)="call(property.phone_number)">
            <ion-icon name="call"></ion-icon>
          </button>
          <button ion-button color="primary" style="width:50px;float:right" (click)="bookMark(property.id_property)">
            <ion-icon name="bookmark"></ion-icon>
          </button>
          <button ion-button color="primary" style="width:50px;float:right" (click)="viewVr(property.id_vr)">
            <ion-icon md="md-glasses"></ion-icon>
          </button>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>