page-user {

}

.whole{
    height:100%;
}

.alignCenter{
    text-align:center;
}

.marginAuto{
    margin:auto;
}

.masters{
    background-color:#EFEFD0;
}
.button-wrapper{
    text-align:center;
}
.button-wrapper button{
    width:80%;
    margin-bottom:15px;
}
