<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="masters">

    <form #f='ngForm' (ngSubmit)='addUser(f)' *ngIf="register">
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" name='name'></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name='password'></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" [(ngModel)]="user.email" name='email'></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>Phone Number</ion-label>
          <ion-input type="text" [(ngModel)]="user.phone" name='phone_number'></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>Address</ion-label>
          <ion-input type="text"  [(ngModel)]="user.address" name='address'></ion-input>
        </ion-item>

        <br><br>
    
        <ion-list *ngIf="picture">
            <img [src]="picture" alt="test" />
        </ion-list>
    
        <button ion-button full (click)="get_photo()">Camera</button>
        <button ion-button full type="submit">Register</button>
        <button ion-button (click)="regist()">&lt;&lt;back</button>
      </form>
  
      <form #loginForm='ngForm' (ngSubmit)='loginUser(loginForm)' *ngIf="login">
          <h2 style="text-align:center">Propertee</h2><br><br>
          <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="loginVar.email" name='email'></ion-input>
          </ion-item>
    
          <ion-item style="margin-bottom:20px;">
              <ion-label floating>Password</ion-label>
              <ion-input type="password" [(ngModel)]="loginVar.password" name='email'></ion-input>
            </ion-item>
            <button ion-button full type="submit">Login</button><br>
            <button ion-button (click)="loginStates()">&lt;&lt;back</button>
      </form>
  
  <ion-item class="whole masters" *ngIf="!loggedIn && !register && !login">

    <p class="alignCenter">Sepertinya anda belum login!</p>
    <p class="alignCenter">Lakukan login untuk menikmati layanan secara penuh</p><br>
    <div text-center>
      <button ion-button class="alignCenter" style="width:80%;height:40px" (click)="loginStates()">login</button>
    </div>
    <div text-center>
        <button ion-button class="alignCenter" style="width:80%;height:40px;background-color:blue;" (click)="changeLoginState()">Login dengan google +</button>
    </div>
    <br>
    <p class="alignCenter">Atau lakukan pendaftaran terlebih dahulu</p>
    <br>
    <div text-center>
      <button ion-button style="width:80%;height:40px;" class="alignCenter" (click)="regist()">daftar</button>
    </div>
    <br>
    <br>
  </ion-item>

  <div *ngIf="loggedIn && !register && !login">
    <ion-item class="masters">
      <div class="row">
        <div class="col">
          <div text-center center style="height:30%;">
            <img style="margin:auto;border-radius:60%;margin-bottom:5px" src="{{userLogin.url}}" onerror="this.src='assets/imgs/placeholder.jpg';">
            <h3>{{userLogin.name}}</h3>
            <h3 style="margin-bottom:-5px;">{{userLogin.email}}</h3>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item class="masters">
      <div class="button-wrapper">
        <button ion-button style="height:40px;">Bookmarked</button><br>
        <button ion-button style="height:40px;" (click)="addProperties()">Add Property</button><br>
        <button ion-button style="height:40px;">Change Profile</button><br>
        <button ion-button style="height:40px;" (click)="logout()">Log Out</button>
      </div>
    </ion-item>
  </div>

</ion-content>