<!--
  Generated template for the MapsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="main-view">
  <div class="overlay" (click)="dismiss()">

  </div>
  <div class="modal_content">
    <ion-card>
      <ion-item>
        <ion-avatar item-start center>
          <img style="margin:auto" src="assets/imgs/placeholder.jpg" alt="assets/imgs/placeholder.jpg">
          <p>Developer</p>
        </ion-avatar>
        <h2 center text-wrap>Launching Apartement {{properties.property_name}}</h2>
        <p center>{{properties.date}}</p>
        <p>{{properties.address}}</p>
      </ion-item>

      <ion-scroll scrollY="true" style="white-space: nowrap; height: 350px;">
        <ion-item text-wrap>
          <p>{{properties.description}}</p>
        </ion-item>
      </ion-scroll>

      <div>
        <button ion-button color="primary" style="width:50px;float:right" (click)="call(properties.phone_number)">
          <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button color="primary" style="width:50px;float:right" (click)="bookMark(properties.id_property)">
          <ion-icon name="bookmark"></ion-icon>
        </button>
        <button ion-button color="primary" style="width:50px;float:right" (click)="viewVr(properties.id_vr)">
          <ion-icon md="md-glasses"></ion-icon>
        </button>
      </div>
    </ion-card>
  </div>
</ion-content>