<!--
  Generated template for the MapPagesChoosePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
    .button-action{
        height: 40px;
        width: 200px;
        text-decoration: none;
        text-align: center;
        color: white;
        background-color:red;
        line-height: 26px;
        padding-top: 6px;
    }

    .button-action:hover{
        background: url('https://i.hizliresim.com/a1zraR.png') no-repeat;
    }

    </style>

    <script>
            function Action() {
            alert('HELLO');
        }
    </script>

<ion-content onload="chooseLongLat()">
    <div id="map" style="width:100%; height:80%;"></div>
    <div class="leaflet-top leaflet-middle">
    </div>

    <button ion-button class="button-action" (click)="setLoc()">Action!</button>
</ion-content>

